/* challenge 1 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
  font-family: 'Poppins';
}
/* challenge 2 */
#css {
  font-variant: normal;
  font-weight: 500;
  font-style: italic;

}



/* challenge 3 */
p {
  font-size: 15px;
}